<div id='content2'>

  <div id='scroll-percent'>
	Scroll Percent
  </div>

  <div id='animation-percent'>
    ^^^^^^^
  </div>

  <div id='sprites'>

	<div id='foreground'>
	  <div id='landscape'><%= image_tag("v1/foreground.png") %></div>
	</div>

	<div id='background'>
	  <div id='cityscape'><%= image_tag("v1/cityscape.png") %></div>
	</div>

	<div id='sun'><%= image_tag("sun.png") %></div>
	<div id='moon'><%= image_tag("v1/moon.png") %></div>

  </div>




  <div class='page' id='scene-6'>
	<h1>Things To Do</h1>

	<div class='text'>
	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>

	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>

	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>
	</div>

  </div>

  <div class='page' id='scene-5'>
	<h1>Things To Do</h1>

	<div class='text'>
	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>

	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>

	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>
	</div>

  </div>

  <div class='page' id='scene-4'>
	<h1>Things To Do</h1>

	<div class='text'>
	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>

	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>

	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>
	</div>

  </div>

  <div class='page' id='scene-3'>
	<h1>Things To Do</h1>

	<div class='text'>
	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>

	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>

	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>
	</div>

  </div>

  <div class='page' id='scene-2'>
	<h1>Transportation</h1>

	<div class='text'>
	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>

	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>

	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>
	</div>

  </div>


  <div class='page' id='scene-1'>
	<h1>Ck & Lij's Wedding</h1>

	<div class='text'>
	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>

	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>

	  <p>
		Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
	  </p>
	</div>

  </div>




  <div class='background' id='background-1'>
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
	background<br />
  </div>

</div>
