<div id='content'>



  <div class='page clearfix'>
    <div class='building'>
      <%= image_tag("building.png") %>
    </div>

    <div class='sky'>
      <div class='text'>
	<h1>Ck & Lijens Wedding</h1>

	<p>Here is some information about ck and lijens wedding</p>
	<p>And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more</p>
	<p>And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more</p>
	<p>And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more</p>
	<p>And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more</p>
      </div>
    </div>

  </div>




  <div class='page clearfix'>
    <div class='building'>
      <%= image_tag("building.png") %>
    </div>

    <div class='sky'>
      <div class='text'>
	<h1>Ck & Lijens Wedding</h1>

	<p>Here is some information about ck and lijens wedding</p>
	<p>And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more</p>
	<p>And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more</p>
	<p>And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more</p>
	<p>And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more</p>
      </div>
    </div>

  </div>




  <div class='page clearfix'>
    <div class='building'>
      <%= image_tag("building.png") %>
    </div>

    <div class='sky'>
      <div class='text'>
	<h1>Ck & Lijens Wedding</h1>

	<p>Here is some information about ck and lijens wedding</p>
	<p>And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more</p>
	<p>And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more</p>
	<p>And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more</p>
	<p>And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more And some more and some more</p>
      </div>
    </div>

  </div>


  <div id='sprites'>
    <div id='bird'><%= image_tag("bird.png") %> </div>
  </div>

</div>
