<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= "#{ controller.controller_name.titleize } - #{ controller.action_name.titleize }" %></title>

  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1">

  <%= render "stylesheets" %>
  <%= javascript_include_tag "polyfills" %>

  <!--CDN link for the latest TweenMax-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

  <!--CDN links for the latest TweenLite, CSSPlugin, and EasePack-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Euphoria+Script|Abel|Quicksand:300,400|Amatic+SC:400,700|Cookie|Satisfy|Rochester|Sacramento|Norican|Pacifico|Dancing+Script:400,700|Open+Sans:300italic,400,300,600|Roboto:400,300,300italic|Roboto+Condensed:300italic,400,300|Open+Sans+Condensed:300|Titillium+Web' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tag %>
</head>
